.aboveTheFold {
  // margin-bottom: 25%;
  height: 100vh;
  .about {
    padding-top: 6%;
  }
  .heroImg {
    padding: 0;
   img {
     max-width: 80%;
     @include sm {
      margin-top: 40%;
      text-align: center;
      max-height: 80%;
      display: none;
     }
   }
  }
  .aboutHeroTxt {
    margin-top: 10%;
    padding: 0;
    h1 {
      font-weight: 600;
      @include sm {
        margin-top: 40%;
        font-size: 1.75rem;
        padding: 4%;
      }
      }
      img{
        display: none;
          @include sm {
            display: block;
            // margin-top: 40%;
            max-width: 80%;
            margin: 0 auto;
          }
      }
    }
  }


.technicalLogos {
  margin-top: 10%;
  text-align: center;
  .codeLogos, .adobeLogos {
    img {
      width: 4.5rem;
      margin: 1rem;
    }
  }
}

.aboutContent {
  margin-top: 10%;
  @include paragraph;
  .aboutBio {
    // margin-left: 5%; 
    @include sm {
      margin: 5%;
    }
    p {
      @include sm {
        margin-bottom: 20%;
      }
    }
  }
  .aboutImg {
    img {
      max-width: 80%;
    }
  }
  .sideBar {
    ul {
      @include sm {
        margin: 5%;
        padding: 0;
      }
      margin-left: 30%;
      // margin-top: 1rem;
      :first-child {
        font-weight: bold;
        text-transform: uppercase;
      }
      li {
        list-style: none;
      }
    }
  }
}
