#caseStudy {
  // background: red;
  p {
    @include paragraph;
  }
  h2 {
    @include CSSubHead;
    margin-bottom: 1.2rem;
  }
  // ABOVE THE FOLD
  .aboveTheFold {
    .caseStudyHero {
      img {
        max-width: 90%;
        @include sm {
          max-width: 100%;
          padding: 0;
        }
      }
      div {
        margin-left: 5%;
        h1 {
          @include CSheading;
          margin-top: -20%;
          
          @include sm {
            font-size: 2rem;
            margin-top: -100%;
          }
        }
        h2 {
          @include paragraph;
          text-transform: none;
          font-size: 2rem;
          @include sm {
            @include paragraph;
          }
        }
      }
    }
  } ///////

  // INTRODUCTION

    .horline {
      margin-top: 5%;
      height: .125rem;
      width: 4rem;
      transform: rotate(-90deg);
      margin-left: 5%;
    }
    .col-lg-3 {
      margin-left: 5%;
      .skip {
        margin-bottom: 2.5rem;
        margin-top: 2rem;
        a {
          @include buttonLight;
        }
      }
      .demo {
        a {
          @include buttonDark;
        }
        
      }
    }
  }
  ///////

// BLOCKS OF TEXT
  .explanation {
    @include csmargin;
  }

// USERS
.users {
  @include csmargin;
  background: $lightgrey;
  img {
    width: 100%;
    height: 80%;
  }
  .cmsUsers {
    img {
      max-width: 100%;
    }
  }
  .explanation {
    padding: 5rem;
    margin-top: 0%;
    ul {
      padding-left: 0;
      margin-top: 15%;
      li {
        list-style: none;
        @include paragraph;
        font-style: italic;
      }
    }
  }
}

// BANNER 
.banner {
  img {
    width: 100%;
  }
  .cms {
    @include csmargin;
    img {
      max-width: 50%;
      margin-left: 25%;
    }
  }
}

// SOLUTION
.solution {
  @include csmargin;
  img {
    width: 120%;
    // margin-top: 10%;
  }
}

// CMS FEATURES
.cmsfeatures {
  @include csmargin;
  img {
    max-width: 100%;
  }
  h2 {
    margin-top: 20%;
  }
  ul {
    margin-top: 5rem;
    margin-left: -3.5rem;

    li {
      @include paragraph;
      list-style: none;
      margin: 1rem;
    }
  }
}

// SUPPORTING IMAGES
.supportingImages {
  @include csmargin;
  img {
    width: 100%;
  }
}

// SUPPORTING CONTENT
.supportingContent {
  @include csmargin;
  .userflow {
    margin-bottom: 15%;
    img {
      width: 100%;
    }
  }
  img {
    width: 100%;
    padding: 2rem;
  }
}

// FINAL CONTENT
.finalContent {
  @include csmargin;
  img {
    width: 90%;
  }
}

// CONCLUSION
.conclusion {
  @include csmargin;
  :nth-child(3)
  {
    margin-bottom: 10%;
  }
  a {
    @include buttonDark;
  }
}

// CONCLUDING IMAGES
.concludingImages {
  @include csmargin;
  img {
    max-width: 60%;
    padding: .5rem;
  }
}

.cms_concludingImages {
  @include csmargin;
  img {
    max-width: 100%;
  }
}