@import 'globals';

body 
 {.workList, .workGrid {
  margin-top: 2rem;
}

.workGrid {
  position: relative;
  margin-top: 7rem;
  img {
    max-width: 100%;
  }
  h4 {
    margin-top: 5%;
    @include themed() {
      text: t($text);
    }
    &:hover {
      color: red;
    }
  }
  p {
    margin-top: 2%;
    margin-bottom: 15%;
    @include themed() {
      color: t($text);
    }
  }
}


// work list
.workList {
  // display: none;
  section {
    margin-top: 7rem;
  }
  position: relative;
  h1 {
    @include heading;
    @include themed() {
      text: t($text);
    }
  }
  h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 3rem;
    // color: $darkgrey;
  }
  .projectTitle {
    h1 {
      margin-top: 2rem;
      float: right;
      padding: 2rem;
      text-align: right;
    }
    p {
      margin-top: -4rem;
      float: right;
      padding: 2rem;
      text-align: right;
      font-style: italic;
      @include paragraph;
    }
    
  }
  img {
    max-width: 95%;
    transition: .5s all ease;
    // &:hover {
    //   box-shadow: 0px 1px 15px #dcdcdc;
    //   margin-top: -1%;
    // }
  }
  .blurb {
    margin-top: 35vh;
    // padding: 2rem;
    h1 {
      padding: 1rem;
    }
    p {
      @include paragraph;
      padding: 1rem;
      margin-bottom: 10%;
      
    }
    a {
      text-transform: uppercase;
      // background: $light;

      @include themed() {
        background: t($bg);
        color: t($text);
      }

      color: $dark;
      font-size: 1.2rem;
      padding: 1rem 1.5rem 1rem 1.5rem;
      border: 2px solid $dark;
      font-weight: 600;
      border-radius: .2rem;
      // box-shadow: 1px 1px 4px $darkgrey;
      margin-left: 1rem;

      transition: .3s all ease;
      &:hover {
        // text-decoration: none;
        background: $dark;
        color: $light;
        margin-top: 2px;
        @include themed() {
          background: t($bg);
          color: t($link);
        }
      }
    }
  }
}
 }