@import 'globals', 'colortheme';
.header {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  
  // nav
  ul {
    padding-top: 1.8rem;
    li {
      list-style: none;
      float: right;
      margin-left:1rem;
      margin-right: 1rem;
      a {
        @include paragraph;
        margin: 4rem;
      }
    }
  }
  .logo {
    padding: 2rem;
    max-width: 26%;
    @include sm {
      max-width: 40%;
      float: none;
      padding: 0;
    }
  }
}

.aboveTheFold {
  height: 100vh;
  .hero {
    padding-top: 18%;
    position: relative;
    .blurb {
      h1 {
        @include heading;
      }
      p {
        margin-top: 8%;
        @include paragraphlg;
      }
    }
    .light {
      max-width: 90%;
      display: block;
      @include sm {
        max-width: 20%;
        margin-top: 20%;
      }
    }
    .dark {
      max-width: 70%;
      display: none;
    }
  }
  .line {
    .heroLine {
      position: relative;
      margin-right: 20rem;
      margin-top: 5rem;
      width: .2rem;
      height: 52vh;
      // background: $dark;
    }
  }
}