@import 'globals', 'colortheme';
.header {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  .logo {
    padding: 2rem;
    max-width: 26%;
    @include sm {
      margin: 0 auto;
      max-width: 55%;
      // float: none;
    }
  }
}

.aboveTheFold {
  height: 100vh;
  .hero {
    padding-top: 18%;
    position: relative;
    @include sm {
      padding-top: 60%;
    }
    .blurb {
      h1 {
        @include heading;
        @include sm {
          &:first-of-type {
            margin-top: 2rem;
          }
          @include mobileheading;
          padding: 1rem 1rem 0rem 1rem;
        }
      }
      p {
        margin-top: 8%;
        @include paragraphlg;
        @include sm {
          @include mobileparagraph;
          padding: 0rem 1rem 0rem 1rem;        }
      }
    }
    .light {
      max-width: 90%;
      display: block;
      @include sm {
        display: none;
      }
    }
    .dark {
      max-width: 70%;
      display: none;
    }
  }
  .line {
    .heroLine {
      position: relative;
      margin-right: 20rem;
      margin-top: 5rem;
      width: .2rem;
      height: 52vh;
      // background: $dark;
    }
  }
}