.viewToggle {
  position: relative;
  margin: 5rem 2rem 4rem 10rem;
  span {
    height: 10px;
    width: 10px;
    color: red;
  }
  img {
    max-width: 4%;
  }
  p {
    @include uppercase;
    font-weight: 600;
    margin-top: .2rem;
  }
  input {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &:hover {
      cursor: pointer;
    }
  }
}