@mixin heading {
  font-size: 2.8rem;
  font-weight: 600;
}

@mixin mobileheading {
  font-size: 2.5rem;
  font-weight: 600;
}

@mixin CSheading {
  font-size: 6rem;
  font-weight: 600;
}

@mixin paragraphlg {
  font-size: 1.6rem;
  font-weight: 200;
}

@mixin paragraph {
  font-size: 1.3rem;
  font-weight: 200;
}

@mixin mobileparagraph {
  font-size: 1.6rem;
}

@mixin uppercase {
  text-transform: uppercase;
  font-size: 1.2rem;
}


@mixin button {
  @include themed() {
    color: t($text);
    border: 2px solid t($text);
  }
  width: 5rem;
  text-align: center;
  border-radius: .30rem;
  padding: .5rem;
  margin: 6rem .25rem 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  // margin-left: 1rem;
  transition: .2s all ease;
  &:hover {
    // background: red;
      @include themed() {
        background: t($text);
        color: t($bg);
      }
    }
}


@mixin buttonDark {
  text-transform: uppercase;
  background: $dark;
  color: $light;
  font-size: 1.2rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-weight: 600;
  border-radius: .2rem;
  box-shadow: 1px 1px 4px $lightgrey;
}

@mixin buttonLight {
  text-transform: uppercase;
  // background: $light;
  color: $dark;
  font-size: 1.2rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 2px solid $dark;
  font-weight: 600;
  border-radius: .2rem;
  box-shadow: 1px 1px 4px $lightgrey;
}

@mixin nav {
  font-size: 1rem;
  text-decoration: none;
  // color: $dark;
  font-weight: 600;
}

@mixin link {
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 3px solid #333333;
  color: #333333;
}

@mixin mobilelink {
  font-size: 1rem;
}

@mixin CSSubHead {
  text-transform: uppercase;
  font-weight: 600;
  // color: #333333;
  font-size: 1.5em;
}

/// SPACING CASE STUDY

@mixin csmargin {
  margin-top: 8%;
}

// BUTTON HOVER
